<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<select id="selectBoards" resultType="com.web.dto.BoardDTO">
		select BI.BI_NUM, BI.UI_NUM ,UI.UI_NAME,BI.BI_TITLE,BI.BI_CONTENT,BI.CREDAT,BI.CRETIM  
		from BOARD_INFO BI
		inner join USER_INFO UI 	
		on BI.UI_NUM = UI.UI_NUM
	</select>
	<select id="selectBoard" resultType="com.web.dto.BoardDTO">
		select BI.BI_NUM, BI.UI_NUM ,UI.UI_NAME,BI.BI_TITLE,BI.BI_CONTENT,BI.CREDAT,BI.CRETIM  
		from BOARD_INFO BI
		inner join USER_INFO UI 
		on BI.UI_NUM = UI.UI_NUM
		WHERE BI.BI_NUM=#{biNum}
	</select>
	<insert id="insertBoard">
		insert into board_info(BI_CONTENT,BI_TITLE,UI_NUM)
		values(#{biContent},#{biTitle},#{uiNum})
	</insert>
	<update id="updateBoard">
		update board_info
		set
		BI_CONTENT=#{biContent},BI_TITLE=#{biTitle},UI_NUM=#{uiNum}
		where
		BI_NUM=#{biNum}
	</update>
	<delete id="deleteBoard">
		delete from board_info where BI_NUM=#{biNum}
	</delete>
</mapper>