<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CPUMapper">
	<select id="selectCPUs" resultType="com.web.dto.CPUDTO">
	select CI_NUM,CI_NAME,CI_PRICE,CI_DESC 
	from CPU_INFO
	</select>
</mapper>